/public_html/bitrix/*
!/public_html/bitrix/php_interface/
!/public_html/bitrix/templates/
/public_html/bitrix/php_interface/dbconn.php
.idea/*
/public_html/upload/
/public_html/vendor/
/public_html/vendor_js/
/public_html/node_modules/
/public_html/bin/
/public_html/webstat/
/public_html/bower_components/
/public_html/1c_manual/
yandex_*.html
google*.html
mail-*.html
sitemap*.xml
composer.phar
restore.php
*.log
*.sql
*.txt
*.xml
*.dt
*.swp
*.swo
*.DS_Store